version: '3.7'
services:

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    stdin_open: true
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./frontend/build:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    environment:
      - NODE_ENV=development
